{% extends 'navigation.twig' %}

{% block content %}
    <h1 class="font-semibold text-lg">My Portfolio</h1>
    <form action="/search" method="get" class="w-full max-w-sm mx-auto my-8">
        <input type="text" name="search" id="search" placeholder="Search for a stock" required class="appearance-none bg-transparent border-2 border-teal-500 w-full py-1 px-2 text-gray-700 leading-tight focus:outline-none focus:border-teal-700"></form>
    <table class="table- w-full">
        <thead>
        <tr>
            <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Symbol</th>
            <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Name</th>
            <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Price</th>
            <th class="px-4 py-2 bg-gray-300 text-gray-800 font-bold">Price Change</th>
        </tr>
        </thead>
        <tbody>
        {% if result is not same as(null) %}
            <tr>
            <td class="border px-4 py-2">{{ result.getSymbol }}</td>
            <td class="border px-4 py-2">{{ result.name }}</td>
            <td class="border px-4 py-2">${{ result.price|number_format(2) }}</td>
            <td class="border px-4 py-2">
                {% if result.priceChange > 0 %}
                    <span class="text-green-700">+{{ result.priceChange|number_format(2) }}</span>
                {% elseif result.priceChange < 0 %}
                    <span class="text-red-700">{{ result.priceChange|number_format(2) }}</span>
                {% else %}
                    {{ result.priceChange|number_format(2) }}
                {% endif %}
            </td>
            {% if user %}
                <form action="/add" method="get">
                    <input type="hidden" name="search">
                    <input type="submit" name="submit" id="submit" value="buy" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline-teal">
                </form>
            {% endif %}
        {% else %}
        {% for stock in stocks %}
            <tr>
                <td class="border px-4 py-2">{{ stock.symbol }}</td>
                <td class="border px-4 py-2">{{ stock.name }}</td>
                <td class="border px-4 py-2">${{ stock.price|number_format(2) }}</td>
                <td class="border px-4 py-2">
                    {% if stock.priceChange > 0 %}
                        <span class="text-green-700">+{{ stock.priceChange|number_format(2) }}</span>
                    {% elseif stock.priceChange < 0 %}
                        <span class="text-red-700">{{ stock.priceChange|number_format(2) }}</span>
                    {% else %}
                        {{ stock.priceChange|number_format(2) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}