{% extends 'navigation.twig' %}

{% block content%}
    <div class="container mx-auto mt-10">
        <div class="flex items-center justify-center">
            <img src="https://i.redd.it/o6amyv7f51f51.jpg" alt="Profile picture" class="w-32 h-32 rounded-full">
        </div>
        <h1 class="text-3xl font-bold text-center mt-4">{{ user.name }}</h1>
        <div class="flex  justify-around ">
        <div class="flex-column mt-10">
            <h2 class="text-xl font-bold mb-4 ">Wallet: ${{ user.money|number_format(2) }}</h2>
            <form action="/wallet" method="post">
                <label for="deposit" class="text-xl font-bold mb-4 inline" >Deposit: $</label>
                <input type="text" id="deposit" name="deposit" placeholder="0.00" class="w-40">
                <br>
                <label for="withdraw" class="text-xl font-bold mb-4 inline" >Withdraw: $</label>
                <input type="text" id="withdraw" name="withdraw" placeholder="0.00" class="w-40">
                <br>
                <input type="submit" id="submit" value="Submit" class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-teal">
            </form>
            {% if errors.insufficientFundsInWallet %}
                Insufficient funds
            {% endif %}
        </div>
            <a href="/transfer" class="text-xl font-bold mb-4 mt-10 ml-12" >Transfer stock</a>
        <div class="flex-column mt-10 text-center">
            <h1 class="text-xl font-bold mb-4 ">Transactions</h1>
            <table class="table-auto overflow-y-auto ml-500 mx-auto">
                <thead>
                <tr>
                    <th class="px-4 py-2">Symbol</th>
                    <th class="px-4 py-2">Action</th>
                    <th class="px-4 py-2">Amount</th>
                    <th class="px-4 py-2">Profit</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td class="border px-4 py-2">{{ transaction.symbol }}</td>
                        <td class="border px-4 py-2">{{ transaction.action }}</td>
                        <td class="border px-4 py-2">{{ transaction.amount }}</td>
                        <td class="border px-4 py-2">{{ transaction.profit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h1>Sell profit: {{ total.sellProfit|number_format(2) }}</h1>
            <h1>Buy profit: {{ total.buyProfit|number_format(2) }}</h1>
            <h1>Total profit: {{ total.totalProfit|number_format(2) }}</h1>
        </div>
    </div>
    </div>
{% endblock %}